* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
}
/* navigation */
nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, rgb(18, 13, 3) 0%, rgb(34, 22, 2) 100%);
  margin-bottom: 0.5px;
}

nav > .links {
  margin: 15px;
}

nav > .links > ul > li {
  display: inline-block;
  padding: 20px;
  color: white;
}
#header {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right, rgb(18, 13, 3) 0%, rgb(34, 22, 2) 100%);
  color: white;
  padding-top: 20px;
}

/* dispalay section */

#display {
  background-color: rgb(245, 245, 245);
}
.profile {
  display: flex;
}
.profile > .pic, .description{
  width: 50%;
}
.profile > .pic {
  height: 150px;
}
.profile > .pic > img {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0px;
}
.profile > .description > ul > li {
  display: block;
}
.description {
  margin: 50px;
  padding: 30px;
  margin-bottom: 0px;
  background-color: rgb(255, 255, 255);
  width: 450px;
  height: 400px;
}
.description > ul > {
  border-radius: 5px;
}
.image, .name, .phone, .email {
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 300px;
}
.intrest {
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 30px;
  width: 300px;
}
.image {
  height: 60px;
  padding-top: 15px;
  padding-left: 10px;
  background-color: rgb(245, 245, 245);
}
.image > img, p {
  width: 50%;
}
.image > p {
  position: relative;
  left: 70px;
  bottom: 40px;
}
.image > img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%
}
.description > ul > li > .button {
  background-color: black;
  width: 295px;
  padding: 15px;
  margin-left: 15px;
  border: none;
}
.pictures {
  width: 50%;
  display: flex;
  padding-left: 40px;
  padding-top: 0px;
}
.pictures > img {
  width: 13%;
  height: auto;
  padding: 10px;
}

