* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(245, 245, 245);
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-width: 940px;
}
/* navigation */
nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, rgb(18, 13, 3) 0%, rgb(34, 22, 2) 100%);
  margin-bottom: 0.5px;
}

nav > .links {
  margin: 15px;
}

nav > .links > ul > li {
  display: inline-block;
  padding: 20px;
  color: white;
}
#header {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right, rgb(18, 13, 3) 0%, rgb(34, 22, 2) 100%);
  color: white;
  padding-top: 20px;
}

/* display section */

#display {
  background-color: rgb(245, 245, 245);
}
.profile {
  display: flex;
}
.profile > .pic, .description{
  width: 50%;
}
.profile > .pic {
  height: 150px;
}
.profile > .pic > img {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0px;
}
.profile > .description > ul > li {
  display: block;
}
.description {
  margin: 50px;
  padding: 30px;
  margin-bottom: 0px;
  background-color: rgb(255, 255, 255);
  width: 450px;
  height: 400px;
}
.description > ul > {
  border-radius: 5px;
}
.image, .name, .phone, .email {
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 300px;
}
.intrest {
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 30px;
  width: 300px;
}
.image {
  height: 60px;
  padding-top: 15px;
  padding-left: 10px;
  background-color: rgb(245, 245, 245);
}
.image > img, p {
  width: 50%;
}
.image > p {
  position: relative;
  left: 70px;
  bottom: 40px;
}
.image > img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%
}
.description > ul > li > .button {
  background-color: black;
  width: 295px;
  padding: 15px;
  margin-left: 15px;
  border: none;
}
.pictures {
  width: 50%;
  display: flex;
  padding-left: 40px;
  padding-top: 0px;
}
.pictures > img {
  width: 13%;
  height: auto;
  padding: 10px;
}

/* Details */

#details {
  width: 50%;
  margin-top: 20px;
  margin-left: 50px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
#details > h6{
  padding-bottom: 30px;
  padding-top: 10px;
}
.details-icons{
  border-top: 1px solid;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: auto;
  margin: 0px;
}
.details-icons > p {
  border-left: 1px solid;
  padding-left: 30px;
  padding-bottom: 10px;
  margin: 0px;
}
.details-icons > p:first-child {
  border: none;
}

/* Description */

#desc > .head {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 2px;
  width: 50%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#desc > .paragraph {
  margin-left: 50px;
  margin-bottom: 20px;
  width: 50%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#desc > .paragraph > p {
  width: 100%;
}

/* Features */

.check {
  color: rgb(253, 185, 55);
}
#features > .head {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 2px;
  width: 50%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; 
}
#features > .about {
  margin-left: 50px;
  margin-bottom: 20px;
  width: 50%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; 
  display: flex;
}
#features > .about > ul > li{
  display: inline-block;
  justify-content: space-between;
}

/* similar listings */

#listings > .header > .rect {
  width: 120px;
  height: 3px;
  background: linear-gradient(to right, rgb(237,185,91) 0%, rgb(82,82,80) 100%);
  margin-left: 50px;
  margin-top: 80px;
  margin-bottom: 20px;
}
#listings > .header > h2 {
 margin-left: 50px;
 margin-bottom: 30px;
}
.cards {
  border-radius: 20px;
  box-shadow: rgb(225, 225, 225) 0px 0px 0px 0px inset;
  /* margin: 30px; */
}
.listing-cards {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  padding: 20px;
}
.last-img {
  height: 225px;
}
.cards-icons {
  border-top: 1px solid;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: auto;
  margin: 0px;
}
.cards-icons > p {
  border-left: 1px solid;
  padding-left: 20px;
  padding-bottom: 10px;
  margin: 0px;
}
.cards-icons > p:first-child {
  border: none;
}
table {
  border-top: 1px solid;
  border-left: 1px solid;
}
table > tr {
  border-left: 1px solid;
  padding-left: 10px;
}
/* footer */
#footer {
  background: linear-gradient(to right, rgb(5, 5, 5) 0%, rgb(27, 18, 2) 100%);
  padding: 50px;
}
#footer > .header {
  padding-left: 80px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;

}
#footer >.rect {
  background-color: black;
  width: 90%;
  height: 2px;
  margin-top: 50px;
}
#footer > .footer-body {
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
  color: white;
}
#footer > .footer-body > .icons > ul > li {
  padding-top: 40px;
  display: inline-block;
  justify-content: space-evenly;
  padding-right: 20px;
}
#footer > .footer-body > .column > ul > li {
  display: flex;
}

