* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-width: 940px;
}

.introduction{
  background-image: url(../images/moving\ 1.png);
  background-size: cover;
  height: 100vh;

}

/* navbar */
nav {
  display: flex;
  justify-content: center;
}

nav > .links {
  margin: 15px;
}

nav > .links > ul > li {
  display: inline-block;
  padding: 20px;
  color: white;
}

nav > .links > ul > li > .logIn {
  background-color: black;
  color: white;
}

nav > .links > ul > li > .logIn2 {
  padding: 5px;
  background-color: black;
  color: rgb(246, 238, 60);
}

/* introduction */
.introduction > .header > .head {
  color: rgb(246, 238, 60);
  font-size: 50px;
  padding: 40px;
  padding-left: 190px;
  padding-top: 70px;

}
.introduction > .header > .description {
  font-size: 25px;
  padding: 40px;
  padding-left: 190px;
  color: white;
  font-family: 'Poppins';
}

/* cut the hustle */
#cutHustle {
  margin-top: 70px;
  margin-bottom: 35px
}

#cutHustle > .hustle {
  display: flex;
}
#cutHustle > .hustle > .leftside, .rightside{
  width: 50%;
}
#cutHustle > .hustle > .leftside{
  display: flex;
  justify-content: center;
  align-items: center;
}
#cutHustle > .hustle > .rightside{
  padding-left: 60px;
  color: black;
  padding-top: 200px;

}
#cutHustle > .hustle > .leftside > img {
  max-width: 100%;
  height: auto;
}
.rectangle {
  height: 2px;
  width: 80px;
  background: linear-gradient(to right, rgb(237,185,91) 0%, rgb(82,82,80) 100%);
  margin-bottom: 15px;
}
#cutHustle > .hustle > .rightside > h1 {
  padding-bottom: 15px;
}
#cutHustle > .hustle > .rightside > .learn {
  background-color: black;
  color: rgb(246, 238, 60);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#cutHustle > .hustle > .rightside > p {
  padding-bottom: 50px;
  color: gray;
}

/* top movers */
#topMovers {
  background-color: rgb(245,245,245);
  height: 1250px;
}
#topMovers > .header {
  padding: 100px;
}
#topMovers > .first-row {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
  padding-bottom: 0px;
}

#topMovers > .first-row > .cards {
  border-radius: 20px;
  box-shadow: rgb(225, 225, 225) 0px 0px 0px 0px inset;
}
#topMovers > .first-row > .cards >table {
  display: flex;
  justify-content: space-evenly;
}
.cards {
  margin-bottom: 0px;
  padding-bottom: -30px;
}
.card-icons {
  border-top: 1px solid;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin: 0px;
  margin-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.body {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.card-icons > p {
  border-left: 1px solid;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.card-icons > p:first-child {
  border: none;
}

/* footer */
#footer {
  background: linear-gradient(to right, rgb(5, 5, 5) 0%, rgb(27, 18, 2) 100%);
  padding: 50px;
}
#footer > .header {
  padding-left: 80px;
}
#footer > .header > .rect {
  background-color: black;
  width: 90%;
  height: 2px;
  margin-top: 50px;
}
#footer > .footer-body {
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
  color: white;
}
#footer > .footer-body > .icons > ul > li {
  padding-top: 40px;
  display: inline-block;
  justify-content: space-evenly;
  padding-right: 20px;
}
#footer > .footer-body > .column > ul > li {
  display: block;
}



