* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
}

.introduction{
  background-image: url(../images/moving\ 1.png);
  background-size: cover;
  height: 100vh;
  
}
nav {
  display: flex;
  justify-content: center;
}

nav > .links {
  margin: 15px;
}

nav > .links > ul > li {
  display: inline-block;
  padding: 20px;
  color: white;
}

nav > .links > ul > li > .logIn {
  padding: 5px;
  background-color: rgb(246, 238, 60);
  color: white;
}

nav > .links > ul > li > .logIn2 {
  padding: 5px;
  background-color: black;
  color: rgb(246, 238, 60);
}
.introduction > .header > .head {
  color: rgb(246, 238, 60);
  font-size: 50px;
  padding: 40px;
  padding-left: 190px;
  padding-top: 70px;

}
.introduction > .header > .description {
  font-size: 25px;
  padding: 40px;
  padding-left: 190px;
  color: white;
  font-family: 'Poppins';
}